DB_NAME=dbname
DB_USER=user
DB_PASSWORD=password
DB_HOST=5432

TEST_DB_URL=sqlite+aiosqlite:///./test.db

ALGORITHM=HS256
SECRET_KEY=your_super_secret_key

REDIS_HOST=redis
REDIS_PORT=6379

# The number of days a check will be stored in the table before being automatically deleted
CHECK_LIFESPAN=7

# The number of attempts to make a request to site if an error occurred
REQUEST_ATTEMPTS=3